* {margin: 0%;}
* {padding: 0%;}
/* navigation bar formatting below */
.nav-bar {
    display: flex;
    padding: 20;
    background-color: #5C0C32;
    color: white;
}
.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* navigation bar formatting above */
/* section one: Welcome Message formatting below */
.welcome-message {
    display: flex;
    background-color: #D1C19F;
}
.welcome-message div {
    flex-direction: row;
    padding: 1%;
    flex: 1;
}
.p {
    display: flex;
    height: 250px;
    flex: 1;
}
img {
    width: 100%;
    max-width: 500px;
    max-height:100%
}
.column-one div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.four-image-picture {
    display:flex;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: space-evenly;
    background-color:#5C0C32;

}
.four-image-picture img {
    width: 15%;
    border: 10px solid #D1C19F;
    background-color: #D1C19F;
}
h2 {
    text-align: center;
    background-color: #5C0C32;
    color: #f2f2f2;
}